{
  "extends": ["airbnb-base", "plugin:flowtype/recommended", "prettier"],
  "plugins": ["flowtype", "flowtype-errors", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "globals": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-param-reassign": "off", // 同じ関数内で戻り値を返すreturnと返さないreturnがあったら怒る 無効化 serverで困る
    "one-var": "off", // 1行につき1宣言 無効化 FLの流儀と合わない
    "no-duplicate-imports": "off", // importの重複を不許可 無効化 flowtypeのimport typeと相性が悪い
    "class-methods-use-this": "off", // classのメソッド内では必ずthisを使う 無効化
    "prettier/prettier": "error"
  }
}
